<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyrics Search</title>
    <!-- <link rel="stylesheet" href="../static/style/lyrics_search.css"> -->
    <link rel="stylesheet">
</head>
<body>
    <header>
        <h1>Search for a song</h1>
        <form action="" method="post" class="search-bar" autocomplete="off">
          <input type="search" id="name" name="name" pattern=".*\S.*" required>
          <button class="search-btn" type="submit"><span>Search</span></button>
        </form>
    </header>
   

    <h1>lyrics will be displayed in a bit...</h1>
    <h1>Song name: {{ song_name }}</h1>
    <p>{{ variable }}</p>
    <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
</body>
</html>