<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyrics Search</title>
    <link rel="stylesheet" href="lyrics_search.css">
</head>
<body>
    <header>
        <h1>Search for lyrics</h1>
        <form action="" method="post">
            <label for="name">Song:</label>
            <input type="text" id="name" name="name" placeholder="name">
            <label for="username">Artist:</label>
            <input type="text" id="username" name="username" placeholder="username">
            <button type="submit">Search song</button>
        </form>
    </header>

    <section class="result" id="result">
        <h1>Results will be displayed here in a second...</h1>
    </section>
</body>
</html>